<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlotterManagementSystemJAVA">
        
        <!-- Splash Screen as Launcher -->
        <activity 
            android:name=".ui.activities.SplashActivity" 
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main Activity -->
        <activity 
            android:name=".MainActivity" 
            android:exported="false" />
        
        <activity android:name=".ui.activities.OnboardingActivity" android:exported="false" />
        <activity android:name=".ui.activities.PermissionsSetupActivity" android:exported="false" />
        <activity android:name=".ui.activities.WelcomeActivity" android:exported="false" />
        <activity android:name=".ui.activities.LoginActivity" android:exported="false" />
        <activity android:name=".ui.activities.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.activities.ForgotPasswordActivity" android:exported="false" />
        <activity android:name=".ui.activities.AdminDashboardActivity" android:exported="false" />
        <activity android:name=".ui.activities.OfficerDashboardActivity" android:exported="false" />
        <activity android:name=".ui.activities.OfficerWelcomeActivity" android:exported="false" />
        <activity android:name=".ui.activities.OfficerMyCasesActivity" android:exported="false" />
        <activity android:name=".ui.activities.OfficerProfileActivity" android:exported="false" />
        <activity android:name=".ui.activities.OfficerSettingsActivity" android:exported="false" />
        <activity android:name=".ui.activities.UserDashboardActivity" android:exported="false" />
        <activity
            android:name=".ui.activities.AddReportActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.activities.ProfilePictureSelectionActivity" android:exported="false" />
        <activity android:name=".ui.activities.AddOfficerActivity" android:exported="false" />
        <activity android:name=".ui.activities.UserManagementActivity" android:exported="false" />
        <activity android:name=".ui.activities.OfficerManagementActivity" android:exported="false" />
        <activity android:name=".ui.activities.ReportOversightActivity" android:exported="false" />
        <activity android:name=".ui.activities.SendNotificationActivity" android:exported="false" />
        <activity android:name=".ui.activities.RecordsArchiveActivity" android:exported="false" />
        <activity android:name=".ui.activities.AdminProfileActivity" android:exported="false" />
        <activity android:name=".ui.activities.MyAssignedCasesActivity" android:exported="false" />
        <activity android:name=".ui.activities.HearingsActivity" android:exported="false" />
        <activity android:name=".ui.activities.QRScannerActivity" android:exported="false" />
        <activity android:name=".ui.activities.SmsNotificationsActivity" android:exported="false" />
        <activity android:name=".ui.activities.OfficerAnalyticsActivity" android:exported="false" />
        <!-- Profile & Settings -->
        <activity android:name=".ui.activities.ProfileActivity" android:exported="false" />
        <activity android:name=".ui.activities.EditProfileActivity" android:exported="false" />
        <activity android:name=".ui.activities.ChangePasswordActivity" android:exported="false" />
        <activity android:name=".ui.activities.SettingsActivity" android:exported="false" />
        <activity
            android:name=".ui.activities.NotificationsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true" />
        <activity android:name=".ui.activities.ViewReportsActivity" android:exported="false" />
        <activity android:name=".ui.activities.ViewHearingsActivity" android:exported="false" />

        <!-- New Separate Report Screens -->
        <activity android:name=".ui.activities.ViewAllReportsActivity" android:exported="false" />
        <activity android:name=".ui.activities.ViewPendingReportsActivity" android:exported="false" />
        <activity android:name=".ui.activities.ViewAssignedReportsActivity" android:exported="false" />
        <activity android:name=".ui.activities.ViewOngoingReportsActivity" android:exported="false" />
        <activity android:name=".ui.activities.ViewResolvedReportsActivity" android:exported="false" />
        
        <!-- Officer Report View Activities with Chip Navigation -->
        <activity android:name=".ui.activities.OfficerViewAllReportsActivity_New" android:exported="false" />
        <activity android:name=".ui.activities.OfficerViewAssignedReportsActivity_New" android:exported="false" />
        <activity android:name=".ui.activities.OfficerViewOngoingReportsActivity_New" android:exported="false" />
        <activity android:name=".ui.activities.OfficerViewResolvedReportsActivity_New" android:exported="false" />
        
        <!-- Officer Hearings View Activities with Chip Navigation -->
        <activity android:name=".ui.activities.OfficerViewAllHearingsActivity" android:exported="false" />
        <activity android:name=".ui.activities.OfficerViewUpcomingHearingsActivity" android:exported="false" />
        <activity android:name=".ui.activities.OfficerViewCompletedHearingsActivity" android:exported="false" />
        <activity android:name=".ui.activities.OfficerViewCanceledHearingsActivity" android:exported="false" />
        
        <!-- Officer Person History View Activity -->
        <activity android:name=".ui.activities.OfficerViewPersonHistoryActivity" android:exported="false" />
        
        <!-- User Assigned Reports Activity -->
        <activity android:name=".ui.activities.ViewAssignedReportsActivity" android:exported="false" />
        
        <!-- Admin Report View Activities with Chip Navigation -->
        <activity android:name=".ui.activities.AdminViewAllReportsActivity" android:exported="false" />
        <activity android:name=".ui.activities.AdminViewPendingReportsActivity" android:exported="false" />
        <activity android:name=".ui.activities.AdminViewAssignedReportsActivity" android:exported="false" />
        <activity android:name=".ui.activities.AdminViewOngoingReportsActivity" android:exported="false" />
        <activity android:name=".ui.activities.AdminViewResolvedReportsActivity" android:exported="false" />
        <activity android:name=".ui.activities.AdminViewClosedReportsActivity" android:exported="false" />
        
        <!-- Admin Case Detail Activity -->
        <activity android:name=".ui.activities.AdminCaseDetailActivity" android:exported="false" />
        
        <!-- User Report Detail Activity -->
        <activity android:name=".ui.activities.ReportDetailActivity" android:exported="false" />
        
        <!-- Edit Report Activity -->
        <activity android:name=".ui.activities.EditReportActivity" android:exported="false" />
        
        <!-- Officer Case Detail Activity -->
        <activity android:name=".ui.activities.OfficerCaseDetailActivity" android:exported="false" />
        
        <!-- Investigation Features -->
        <activity android:name=".ui.activities.AddWitnessActivity" android:exported="false" />
        <activity android:name=".ui.activities.AddSuspectActivity" android:exported="false" />
        <activity android:name=".ui.activities.AddEvidenceActivity" android:exported="false" />
        <activity android:name=".ui.activities.AddHearingActivity" android:exported="false" />
        <activity android:name=".ui.activities.AddResolutionActivity" android:exported="false" />
        <activity android:name=".ui.activities.KPFormsActivity" android:exported="false" />
        <activity android:name=".ui.activities.SummonsManagementActivity" android:exported="false" />
        
        <!-- Investigation Workflow -->
        <activity android:name=".ui.activities.InvestigationChecklistActivity" android:exported="false" />
        
        <!-- New Separate Hearing Screens -->
        <activity android:name=".ui.activities.ViewAllHearingsActivity" android:exported="false" />
        <activity android:name=".ui.activities.ViewUpcomingHearingsActivity" android:exported="false" />
        <activity android:name=".ui.activities.ViewCompletedHearingsActivity" android:exported="false" />
        
        <!-- Alternative In Progress Layout -->
        <activity android:name=".ui.activities.AdminViewInProgressReportsActivity" android:exported="false" />
        <activity android:name=".ui.activities.AdminReportOversightActivity" android:exported="false" />
        <activity android:name=".ui.activities.ConnectedDevicesActivity" android:exported="false" />
        <activity android:name=".ui.activities.AdminSetupActivity" android:exported="false" />
        <activity android:name=".ui.activities.HearingCalendarActivity" android:exported="false" />
        <activity android:name=".ui.activities.CameraActivity" android:exported="false" />
        <activity android:name=".ui.activities.EvidenceListActivity" android:exported="false" />
        <activity android:name=".ui.activities.PhotoGalleryActivity" android:exported="false" />
        <activity android:name=".ui.activities.KPFormsActivity" android:exported="false" />
        <activity android:name=".ui.activities.LegalDocumentsDashboardActivity" android:exported="false" />
        <activity android:name=".ui.activities.MediationSessionActivity" android:exported="false" />
        <activity android:name=".ui.activities.SummonsManagementActivity" android:exported="false" />
        <activity android:name=".ui.activities.IncidentMapActivity" android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>